*{
    margin: 0;
    padding: 0;
}
html,body {
  height: 100%;
	overflow:hidden;
}

table.main{
  width:100%;
  height: 100%;
  min-height: 100%;
  padding: 0px;
  margin: 0px;
}
tr.header{
  height:70px;
}
tr.content{
  border-top: 1px solid #aaaaaa;
}
tr.footer{
  height:60px;
  border-top: 1px solid #aaaaaa;
}
.fill-vertical {
  height: 100%;
}

.stretch-vertical {
  height: 10px;
  display: block;
}

div.map {
  height:100%;
  width:100%;
  border-right: 1px solid #aaaaaa;
  background-color: #ffffff;
}
div.tab-content{
  width:100%;
  height:100%;
  min-height: 100%;
  display:block;
  position:relative;
  overflow:auto;
}
#infoTabs{
  margin-bottom: 0;
}
div.waterDemand {
  display: block;
  height: 100%;
  padding-bottom: 1px;
}

#irrigation, #livestock, #welcome, #diagram, #report, #help {
  padding: 10px;
}

.show-only-in-print {
  display: none;
}


.right-align-text{
  text-align: right;
}

.input-group-title {
  min-width: 155px; /*170px;*/
  text-align: left;
}

/* spinning bootstrap glyphs */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}
@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.map-label {
  background-color: none;
  border: none;
  color: #ff0000;
}

/* override bootstrap styles */
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

/* override the panel style so it better matches the presentation of form
elements used on the irrigation water use screen */
.panel-awc-form-item {
  border: 1px solid #cccccc;
}
.panel-awc-form-item .panel-heading {
  background-color: #eeeeee;
  color: #555555;
  padding: 6px 12px;
}
.panel-awc-form-item .panel-body {
  padding: 6px 12px;
  background-color: #eeeeee;
}
