

body {
  background: white;
  width: 100%
}
.topbar{
  background-color: rgb(25, 78, 149);
  overflow: hidden;
}

#title{
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 44px;
  color: white;
}
#filter{
  float: right;
  height: 20px;
  top: 40px;
  right: 20px;
  position: relative;
  z-index: 100;
  
}
.topbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  position: relative;
  
}
section{
  position: absolute;
  width: 100%;
  background:white;
  padding: 1em;
  min-width: 15em;
  max-width: 100%;
  overflow: auto;
  margin: 0em;
  background-color: black;
  border: black;
  z-index: 0;
}
.widget{
  display: block;
  border-radius: 0.5em;
  width: auto;
  height: 300px;
  background: #dddddd;
  float: left;
  margin: 3px;
  padding: 2em;
}

#map{
  display: block;
  position: relative;
  border-radius: 0.5em;
  width: 400px;
  height: 400px;
  background: #dddddd;
  font-size: 18px;
  float: left;
  margin: 15px;
  padding: 2em;
  top: 20px;
}
#well-map{
  display: inline-block;
  border-radius: 0.5em;
  width: 300px;
  height: 300px;
  background: #dddddd;
  /*font-size: 18px;*/
  margin: 1px;
  padding: 2em;
}


.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 100; 
  height: 400px; 
  width: 50px; 
  overflow-y: scroll; 
  overflow-x: hidden;}

div.bottombar{
  display: inline-block;
  border-radius: 0em;
  height: 40px;
  width: 100%;
  font-size: 3em;
  color: white;
  vertical-align: middle;
  background-color: rgb(25, 78, 149);
  position: relative;
  text-align: center;
  line-height: 90px;
}
.roundedTable
{
  border-radius: 6px 6px 6px 6px;
  border: 1px solid #000;
  border-spacing: 0;
  width: 300px;
}

.roundedTable tr:first-child td:first-child
{
  border-top-left-radius: 5px;
}

.roundedTable tr:first-child td:last-child
{
  border-top-right-radius: 5px;
}

.roundedTable tr:last-child td:first-child
{
  border-bottom-left-radius: 5px;
}

.roundedTable tr:last-child td:last-child
{
  border-bottom-right-radius: 5px;
}
/* optional setting to pad the table cells */
.roundedTable th, td
{
  padding: 10px 10px 10px 10px;
}
/* optional setting to set the background color and font color of the first row - behave like a header */
.roundedTable tr:first-child td:first-child
{
  background-color: rgb(25, 78, 149);
  color: #FFF;
}
/* optional setting to set the background color of the last row - behave like a footer */
/*.roundedTable tr:last-child td:last-child{}
